doctype html
html(ng-app="app")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.js")
		script(type="text/javascript", src="javascripts/main.js")
		script(type="text/javascript", src="javascripts/itemController.js")
	body
		block content

			